# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.so
*.dll
*.dylib

# Virtual environment
.venv/
venv/
env/
ENV/
*.egg-info/
.eggs/
dist/
build/

# PyInstaller
*.spec

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
tests/__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac/Unix/Windows
.DS_Store
*.swp
Thumbs.db
ehthumbs.db
